body {
  font-family: Arial;
  text-align: center;
  background: #ececec;
}

/* AREA */

.stage {
  position: relative;
  width: 420px;
  height: 420px;
  margin: 40px auto;
}

/* LINGKARAN SUDUT */

.angleRing {
  position: absolute;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 10px solid black;
}

.angle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  font-weight: bold;
}

/* LINGKARAN FUNGSI */

.funcRing {
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: #f6a5b6;
  top: 80px;
  left: 80px;
}

.func {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  font-weight: bold;
}

/* TENGAH */

.center {
  position: absolute;
  width: 120px;
  height: 120px;
  background: #f4d35e;
  border-radius: 50%;
  top: 150px;
  left: 150px;
  border: 6px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  background: white;
  border: 3px solid black;
  padding: 8px 10px;
  font-weight: bold;
}

/* PANAH */

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
}

/* PANAH SUDUT */

.angleArrow {
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 28px solid black;

  transform: translate(-50%, -210px);
  cursor: grab;
}

/* PANAH FUNGSI */

.funcArrow {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 26px solid black;

  transform: translate(95px, -50%);
  cursor: grab;
}
.mobileCalc{
display:none;
text-align:center;
margin-bottom:30px;
}

input{
padding:10px;
font-size:16px;
width:200px;
}

button{
padding:10px 15px;
margin-left:5px;
}

.note{
margin-top:10px;
font-size:14px;
color:#555;
}
.calcBox{
text-align:center;
margin-bottom:30px;
}

input{
padding:10px;
font-size:16px;
width:200px;
}

button{
padding:10px 15px;
margin-left:5px;
}

.modeLabel{
font-size:13px;
color:#666;
margin-top:8px;
}